# Electron 官方二进制下载镜像（npm install electron 与 electron-builder 打包均会读取）
electron_mirror=https://npmmirror.com/mirrors/electron/

# Electron Builder 二进制（如 nsis/windows 安装器依赖）镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
